* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

canvas {
  margin-bottom: 30px;
}

h3 {
  color: #51595a;
  margin-bottom: 20px;
  font-size: 25px;
}

.settings-box {
  padding: 20px;
  background-color: rgba(190, 196, 202, 0.5);
  width: 400px;
  font-weight: 900;
  margin-left: 50px;
}

.form-input {
  margin-bottom: 10px;
  label {
    font-weight: 600;
  }
  input {
    width: 50px;
    height: 30px;
    padding: 2px;
  }
  button {
    margin-top: 20px;
    padding: 10px;
    font-weight: 600;
    background-color:  #ffffff;
    color: #51595a;
    border: 0.5px solid #51595a;
  }
}
